
@{
    <button type="button" class="btn btn-success" id="openClientForm">+ Add Client</button>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Client ID</th>
                <th>Company Name</th>
                <th>Registration Number</th>
                <th>Primary Contact</th>
                <th>Email</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @* Example rows can be dynamically populated here *@
        </tbody>
    </table>
    
}
