<button type="button" class="btn btn-success" id="openTeamform">+ Add Member</button>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Team Member ID</th>
            <th>Contact Name</th>
            <th>Job Title</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Role</th>
            <th>Actions</th>
        </tr>
    </thead>
  @*Body code here*@
</table>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script>
    $(document).ready(function () {
        // Open the Add Team form
        $("#openTeamForm").click(function () {
            $.ajax({
                url: '@Url.Action("GetTeamForm", "Home")',
                type: 'GET',
                success: function (data) {
                    $("#companyFormContainer").html(data);
                    $("#companyModal").modal("show");
                },
                error: function (xhr, status, error) {
                    alert("Failed to load the Team form. Please try again.");
                }
            });
        });
    }
 </script>
